# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as Pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [14]:
chipo= pd.read_csv ('chipotle.txt' , sep= '\t')
chipo.head ()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. See the first 10 entries

In [15]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [16]:
# Solution 1
chipo.shape[0]
#chipo.count()[0]

4622

In [26]:
# Solution 2
len(chipo.index)
#len(chipo.axes[0])

4622

### Step 6. What is the number of columns in the dataset?

In [27]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [28]:
(chipo.keys())

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [29]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [42]:
#chipo['item_name'].value_counts().idxmax()
c = chipo.groupby('item_name').sum()
c = c.sort_values(['quantity'], ascending = False)
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 10. For the most-ordered item, how many items were ordered?

In [45]:
c['order_id'].head(1).sum()

713926

### Step 11. What was the most ordered item in the choice_description column?

In [46]:
chipo['choice_description'].value_counts().idxmax()
# d = chipo.groupby('choice_description').sum()
# d = d.sort_values(['quantity'], ascending = False)
# d.head(2)

'[Diet Coke]'

### Step 12. How many items were orderd in total?

In [49]:
c['quantity'].sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [51]:
chipo.item_price.dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [55]:
try:
    dollarizer = lambda x: float(x[1:-1])
    chipo.item_price = chipo.item_price.apply(dollarizer)
    
except:TypeError

#### Step 13.c. Check the item price type

In [56]:
chipo.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [58]:
revenue = (chipo['quantity'] * chipo['item_price']).sum()
revenue

39237.02

### Step 15. How many orders were made in the period?

In [59]:
orders = chipo.order_id.value_counts().count()
orders

1834

### Step 16. What is the average revenue amount per order?

In [71]:
# Solution 1
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
chipo.groupby('order_id').sum().mean()['revenue']

21.394231188658654

In [70]:
# Solution 2
chipo['revenue'] = chipo['quantity'] * chipo['item_price']

d = order_grouped = chipo.groupby(by=['order_id']).sum()


order_grouped.mean()['revenue']

21.394231188658654

### Step 17. How many different items are sold?

In [72]:
chipo.item_name.value_counts().count()

50