# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd 
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [3]:
r1=pd.Series(np.random.randint(1,4, size=100))
r2=pd.Series(np.random.randint(1,3, size=100))
r3=pd.Series(np.random.randint(10000,30000, size=100))
r1

0     1
1     2
2     1
3     2
4     2
     ..
95    1
96    2
97    2
98    2
99    3
Length: 100, dtype: int32

In [4]:
r2

0     2
1     1
2     1
3     1
4     1
     ..
95    2
96    1
97    1
98    2
99    2
Length: 100, dtype: int32

In [5]:
r3

0     23292
1     29474
2     20772
3     15194
4     21568
      ...
95    26884
96    24506
97    27103
98    22706
99    26074
Length: 100, dtype: int32

### Step 3. Let's create a DataFrame by joinning the Series by column

In [13]:
random = pd.concat([r1,r2,r3], axis=1)
random.head()

   0  1      2
0  1  2  23292
1  2  1  29474
2  1  1  20772
3  2  1  15194
4  2  1  21568

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [19]:
random.columns = ['bedrs','bathrs','price_sqr_meter']
random.head()

   bedrs  bathrs  price_sqr_meter
0      1       2            23292
1      2       1            29474
2      1       1            20772
3      2       1            15194
4      2       1            21568

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [21]:
bigcolumn=pd.concat([r1, r2 ,r3], axis=0)
bigcolumn

0         1
1         2
2         1
3         2
4         2
      ...
95    26884
96    24506
97    27103
98    22706
99    26074
Length: 300, dtype: int32

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [23]:
len(bigcolumn)

300

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [27]:
bigcolumn.reset_index(drop=True, inplace=True)
bigcolumn

0          1
1          2
2          1
3          2
4          2
       ...
295    26884
296    24506
297    27103
298    22706
299    26074
Length: 300, dtype: int32